body {
	background: #333;
	font-family: system-ui;
}

.table-wrapper {
	width: min(900px, 100% - 3rem);
   margin: 0 auto;
   direction: rtl;
}

table {
	width: 100%;
	border-collapse: collapse;
	background: #444;
}
table tbody tr:first-child {
	background: #666;

}

caption,
th,
td {
   padding: 1rem;
	text-align: center;
	line-height: 1.5;
	color: white;
}
caption {
   text-align: right;
   font-size: 26px;
   font-weight: bold;
}
tr:nth-of-type(2n) {
	background: hsl(0% 0% 05 / 0.1);
}

@media only screen and (max-width: 650px) {
	th {
		display: none;
	}
	td {
		display: grid;
		grid-template-columns: 15ch auto;
	}

	td::before {
		content: attr(data-cell) ": ";
		font-weight: 700;
		text-transform: capitalize;
	}
}
